###########
# DEFAULT #
###########

PAPERLESS_TIME_ZONE=America/New_York
PAPERLESS_OCR_LANGUAGE=eng

# my secret key
PAPERLESS_SECRET_KEY=''

##########
# GLOBAL #
##########

COMPOSE_PROJECT_NAME=paperless
PUID=1000
PGID=1000

##########
# BROKER #
##########

REDISDATA=

######
# DB #
######

POSTGRES_DATA=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#############
# WEBSERVER #
#############

PAPERLESS_DATA=
PAPERLESS_MEDIA=  # where your documents will be stored
PAPERLESS_EXPORT=  # where paperless-ngx will export documents to and dump data
PAPERLESS_CONSUME=  # where paperless-ngx will automatically upload documents from